body {
    margin: 0px;
    font-family: 'arial', sans-serif;
    font-size: 14px;
    color: #333;
}
        
.container {
    margin: 0 auto;
    max-width: 842px;
}

.header-top {            
    padding: 0px 0px 20px 0px;
    color: #333;
    border-bottom: 2px solid #1e88e5;
    position: relative;
}

.logo {
    float: left;
    margin-right: 20px;
    margin-left: 10%;
    width: 27%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}        
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
}

.details-table td ,
table td{
    font-size:12px;
    font-weight: bold;
}
.form-title {
    font-size: 12px;
    margin-bottom: 8px;
    color: black;
    padding: 4px 10px 3px;
    letter-spacing: 0.4px;
    margin-top: 8px;
    border-bottom: 1px solid black;
    font-weight: bold;
    background-color: white;
}
.empty-line {
  padding:0;
  margin-bottom:5px !important;  
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after, .row:before,
.container:after, .container:before,
.clearfix:after, .clearfix:before{
    display: table;
    content: " ";    
}

.row:after,
.container:after,
.clearfix:after{
    clear: both;
}        
        
.col-sm-4 {
    width: 28%;
}

.col-sm-3 {
    width: 20%;
}      
.col-sm-12,
.col-sm-6,
.col-sm-4,
.col-sm-3{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-6 {
    width: 45%;
}
        
.content-row {
    overflow: hidden;
    padding: 4px 0px 0;
}

.form-box {
    border-bottom: 1px dotted #000;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom:3px;
}
input[type="radio"],
input[type="checkbox"] {
    vertical-align: bottom;
    margin: 0 6px 0 10px;
}
.form-label {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #000;
    opacity: 0.8;
    float: left;
    margin-right: 10px;
    padding-top: 0px;
    font-size: 11px;
}

.form-value {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
    float: left;
}
table tr th {
    font-size:11px;
}
.office-use tr td,
table tr td{
    font-size:10px;
}
.block-space {
    padding: 0px 10px
}

.gray-block-title {
    color: #9a9a9a;
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}   

.secondary-header {
    background-color: white;
    color: black;
    padding: 20px 30px;
    margin-top: 10px;
    position: relative;
}

.table {
    border-spacing: 0;
    border-collapse: collapse; 
    width: 100%;
    max-width: 100%;    
    text-align: left;
    margin-bottom: 20px;
}
.table thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}
.table tbody tr td {
    padding: 7px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;            
}
.table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}  
.tableborder {
    border-spacing: 0;
    border-collapse: collapse; 
    width: 100%;
    max-width: 100%;    
    text-align: left;
    margin-bottom: 10px;
}
.tableborder thead tr th {
    vertical-align: bottom;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
.tableborder tbody tr td {
    padding: 7px;
    vertical-align: top;
    border: 1px solid #000;            
}
.tableborder tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}  
/*  .tableborder, th, td {
border: 1px  solid #ddd;
}*/

.trust-name {
    padding-top: 15px;
    text-align: center;
    float: left;
    width: 50%;
}

.secondary-header-content {
    width: 75%;
    float: left;
}

.passport-block {
    position: absolute;
    right: 15px;
    border: 1px solid #ccc;
    width: 100px;
    height: 85px;
    padding-top: 18px;
    background-color: #fff;
    top: 15px;
    text-align: center;
    font-size: 16px;
    float: right;
}
.capital {
    text-transform: uppercase;
}
.to-add-table {
    border-collapse:collapse;
    border-spacing:0;
}

.pad-l-0 {
    padding-left: 0px !important;
}
.pad-r-0 {
    padding-right: 0px !important;
}